PORT=          # 3001
DATABASE_KIND= # postgres
DATABASE_HOST= # localhost
DATABASE_PORT= # 5432
DATABASE_USER= # basic
DATABASE_PASS= # password
DATABASE_NAME= # basic
ENV=           # dev
JWT_SECRET=    # secret
